.wrapper-header {
    width: 1400px;
    margin: auto;
}
.header-top {
    background: $header-background;
    height: 72px;
    display: flex;
    justify-content: space-between;
    &__logo {
    display: flex;
    align-items: center;
    margin-left: 22px;
    }
    &__btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-right: 52px;

    }
    &__btn-cart{
    background-image: url(../images/cart_icon.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(28, 28, 28, 0);
    margin: 0;
    }
    &__btn-price {
    color: $white;
    font-family: Cabin;
    font-size: 16px;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 4px 52px 0 52px;
    &__category {
    color:$main-black;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
    &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    }
    &__list-item {
    list-style-type: none;
    }
    &__list-link {
    text-decoration: none;
    color:$main-black;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
}       
.section {
    background: $beige;
    padding-bottom: 120px;
    padding-top: 32px;
}
.wrapper-bestsellers{
    width: 1296px;
    margin: auto;
   
    &__title{
    color:$text-black;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    }

    &__line {
    border: 1px solid $text-gray;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    }
    &__chat {
    background-image: url(../images/chat_icon.png);
    width: 51.2px;
    height: 51.2px;
    padding: 6.4px 6.4px;
    background-color: rgba(28, 28, 28, 0);
    background-color: $header-background;
    border: none;
    border-radius: 50%;
    position: fixed;
    right: 165px;
    }
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    box-sizing: border-box;
    text-decoration: none;
   list-style-type: none;
}
.product {
    background-color: $white;
    border: 1px solid $text-gray;
    height: 512px;
}
.product__img {
     text-decoration: none;
 }
 .product__img-first {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto ;
    width: 178px;
    height: 280px;
 }
 .product__text {
     background: $text-blue;
     border-radius: 4px;
     color: $white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Cabin;
     font-size: 16px;
     width: 20px;
     height: 24px;
     padding: 4px 8px;
     position: relative;
     top: 48px;
     left: 30px;
     list-style-type: none;
 }
 .product__text-content {
   margin-top: 16px;
   margin-left: 32px;
 }
 .product__text-first {
     display: inline;
     color: $text-black;
     font-family: Cabin;
     font-size: 20px;
     font-weight: 700;
     line-height: 28px;
     list-style-type: none;
     text-decoration: none;
     margin-top: 16px;
 }
 .product__line-small {
     border: 1px solid $text-gray;
     width: 242px;
 }
button {
    margin-bottom: 32px;
    border: none;
    width: 242px;
    height: 40px;
}
.product__text-second{
    color:  $text-gray;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.product__text-second-new{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: $pink;
    color: $white;
    width: 31px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    left: 43px; top: 46px;
    padding: 3px 3px;
}
.product__price {
    color: $text-red;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.product__btn-first {
    border-radius: 4px;
    background: $btn-violet;
    color: $white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
}
.product__btn-second{
    background: $btn-green;
    border-radius: 4px;
    color: $white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
}
.product__text-new{
    border-radius: 4px;
    color:$white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    width: 20px;
    height: 24px;
    padding: 4px 8px;
    position: relative;
    top: 62px;
    left: 30px;
    background-color: $pink;
}
.product__text-third{
    border-radius: 4px;
   background-color: $pink-light;
    color:$white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    padding: 4px 8px;
    width: 54px;
    height: 24px;
    position: relative;
    top: 30px;
    left: 67px;
}
.text--second{
    position: relative;
    top: 62px;
}
.text--fifth {
    position: relative;
    right: 10px;
    top: 62px;
}
.text--sixth {
    position: relative;
    top: 62px;
}
.text--seven {
    top: 62px;
}

.text--eight {
    position: relative;
    top: 62px;
}
.product__price-old{
    color: $text-gray;
    font-family: Cabin;
    font-size: 24px;
    margin-left: 24px;
    text-decoration: line-through;
}
.text--none {
    visibility: hidden
}
.btn--third {
    background-color: $btn-green;
}
.text--fourth {
    border-radius: 4px;
   background-color: $pink-light;
    padding: 4px 8px;
    width: 57px;
    height: 24px;
    position: relative;
    top: 63px;
}
.wrapper-footer {
    width: 1400px;
    margin:  0 auto;
&__footer {
    background-color: $btn-violet;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
&__year {
    margin-left: 52px;
}
&__info {
    margin-right: 52px;
}
}







