$white: #F8FDFE;
$header-background: #10BBD5;
$main-black: #000000;
$text-black:#1F1F1F;
$text-gray:#A8A8A8;
$text-red:#E90000;
$btn-green:#4D762D;
$btn-violet: #4C394E;
$text-blue:#4200FF;
$beige:#EEEEEF;
$pink:#AF39E7;
$pink-light:#EA33C0;